nav{
  width:100%;
  height:80px;
  background-color: lightslategrey;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:30px;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
  list-style: none;
  font-size: 20px;
}
header{
  width:100%;
  height: 80px;
  background-color: lightsteelblue;
  color:wheat;
  padding:30px;
}
footer{
  width:100%;
  height: 80px;
  background-color: lightsteelblue;
  color:whitesmoke;
  padding:30px;
}

/* .mainContent{
  padding:5px;
  
} */